# General
.DS_Store
.idea/
*.iml

# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.env
backend_deployment.zip

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.packages
flutter_widgets/web_deployment.zip
