rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra para a coleção de usuários
    // O usuário só pode ler/escrever no seu próprio documento e subcoleções
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Subcoleção de sessões
      match /sessions/{sessionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Subcoleção de padrões personalizados
      match /custom_patterns/{patternId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
